.spell-container {
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    grid-row-gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    width: 300px;
    height: 125px;
    margin: 15px;
}

.names {
    text-align: center;
    color: black;
    margin: 5px;
    font-weight: bolder;
    font-style: oblique;
}

.spells-box {
    text-align: justify-all;
    color: saddlebrown;
    margin: 5px;
    font-weight: bolder;
}

.spells-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}

.spells-list {
    list-style-type: none;
}

.title {
    font-size: 35px;
}