.spell-container {
    display: grid;
    grid-template-rows: .25fr .25fr .25fr;
    grid-row-gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: center;
    width: 300px;
    height: 125px;
    margin: 15px;
}

.names {
    grid-row: 1;
    text-align: center;
    color: #A68549;
    margin: 0 25px;
    padding: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.spells-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}

.spells-list {
    list-style-type: none;
}

.spell-type {
    text-align: center;
    color: black;
    margin: -15px -10px;
}

.spell-effect {
    color: #A68549;
    margin: 20px;
    text-align: center;
}

.title {
    font-size: 40px;
}